<div class="modal-dialog" ng-controller="NodeCtrl">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Add Node</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label style="width: 20%"> Node Region</label>
				<select ui-select2 ng-model="node.region" ng-change="updateFlavor()" data-placeholder="Pick a region" ng-options="region as region.name group by region.provider.name for region in regions" style="width: 70%"></select>
			</div>
			<div class="form-group" ng-if="user.isPaid">
				<label style="width: 20%"> Node Type</label>
				<select ui-select2 ng-model="node.flavor" ng-change="updateUseVariableStorage()" ng-disabled="!node.region" data-placeholder="Pick a type" ng-options="flavor as flavor.name for flavor in flavors" style="width: 70%"></select>
			</div>
            <div class="form-group">
                <label style="width: 20%"> Storage</label>
                <input type="number" ng-disabled="!node.useVariableStorage || !user.isPaid" min="10" max="2048" ng-model="node.size" required/>
                <label> GB</label>
            </div>
            <div ng-if="user.isPaid && node.flavor != null && !node.flavor.variable_storage_available" class="well well-large">
                This instance type has fixed storage requirements.
            </div>
            <div ng-if="user.isPaid && !node.useVariableStorage && node.flavor.variable_storage_available" class="well well-large">
                The storage requirements are fixed when you are not using variable storage (see advanced options).
            </div>
            <p ng-if="!user.isPaid" class="lead">Free accounts cannot choose type or storage. Upgrade to a paid account to enable the full power of GenieDB.</p>
			<div class="advanced-panel" ng-if="node.region.provider.code === 'az' || user.isPaid && node.flavor.variable_storage_available && (node.flavor.fixed_storage != null)">
				<a class="btn-link" style="text-decoration: none;"  ng-click="toggle()">Advanced</a>
			</div>
			<div collapse="isCollapsed">
				<br/>
                <div class="form-group" ng-if="user.isPaid && node.flavor.variable_storage_available && (node.flavor.fixed_storage != null)">
                    <label style="width: 20%"> Variable Storage</label>
                    <input type="checkbox" ng-change="updateSize()" ng-model="node.useVariableStorage">
                </div>
				<div ng-if="user.isPaid && node.flavor.variable_storage_available && (node.flavor.fixed_storage != null)" class="well well-large">
                    Check this box to attach external storage to your machine. This allows you to choose the storage size and preserves your data if the provider loses your instance at a slight performance cost.
                </div>
				<div ng-if="node.region.provider.code === 'az'" class="form-group">
					<label style="width: 20%">Provision IOPS</label>
					<input type="checkbox" ng-model="node.useIOps"/>
				</div>
				<div ng-if="node.region.provider.code === 'az'" class="form-group">
					<label style="width: 20%"> IOPS</label>
					<input ng-disabled="!node.useIOps" type="number" step="100" min="100" max="4000" ng-model="node.iops"/>
				</div>
				<div ng-if="node.region.provider.code === 'az'" class="well well-large">The number of input-output operations per second. For provisioned IOPS volumes, you can specify the IOPS rate when you create the volume. The ratio of IOPS provisioned and the volume size requested can be a maximum of 30 (in other words, a volume with 3000 IOPS must be at least 100 GB).</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" btn-loading="isLoading" data-loading-text="Adding..." ng-click="save()">SAVE</button>
			<button class="btn btn-primary pull-right" ng-click="cancel()">CANCEL</button>
		</div>
	</div>
</div>