<div class="detailSection row-fluid">
  <span>Provide the optional additional configuration details below and click <strong>Continue</strong></span>

  <div class=" form-horizontal firstForm">

    <div class="control-group">
      <label class="control-label"></label>
			<div class="controls">
        <button class="continueBtn" type="submit" id="step_three">Continue
          <div class="triangle-right"></div>
        </button>
      </div>
    </div>

  </div>
</div>