<div class="detailSection row-fluid">
  <span>Provide the optional additional configuration details below and click <strong>Continue</strong></span>

  <div class=" form-horizontal firstForm">

    

  </div>
</div>