<div class="detailSection row-fluid">
  <span>Provide the optional additional configuration details below and click <strong>Continue</strong></span>

	<div class=" form-horizontal firstForm">
		<div class="control-group">
      <label class="control-label">Enabled Automatic Backups:</label>
			<div class="controls">
        <input type="text">
        <!--<small>Please note that automated backups are currently Supported for InnoDB Storage engine only. If you are using-->
          <!--MYISAM, refer to details <a href ="#"> here</a>-->
        <!--</small>-->
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Backup Retention Period:</label>
			<div class="controls">
        <select>
          <option></option>
        </select>
        <!--<small>The daily time range during which automated backups are created if automated backups are enabled-->
        <!--</small>-->
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Backup Window:</label>
			<div class="controls">
        <select>
          <option></option>
        </select>
        <!--<small>The daily time range during which automated backups are created if automated backups are enabled-->
        <!--</small>-->
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Maintenance Window:</label>
			<div class="controls">
        <select>
          <option></option>
        </select>
        <!--<small>The daily time range during which automated backups are created if automated backups are enabled-->
        <!--</small>-->
      </div>
    </div>
	</div>
	
</div>
