<div class="container">
  <div class="innerWrap">
    <h3>Launch your GenieDB Instance</h3>

    <div class="innerDiv row-fluid">
      <div class="topNav">
        <a href=""><span class="numValue selected">1</span>DB Instance Details</a>
        <a href=""><span class="numValue">2</span>Management Options</a>
        <a href=""><span class="numValue">3</span>Review</a>
      </div>

      <%= form_for(@db_instance, :validate => true) do |f| %>

        <%= render :partial => "#{@db_instance.current_step}_step", :locals => {:f => f} %>
        <% unless @db_instance.first_step? %>
          <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
              <%= f.submit "Back", :name => "back_button" %>
            </div>
          </div>
        <% end %>


        <div class="control-group">
          <label class="control-label"></label>

          <div class="controls">
            <%= f.submit "Continue", :class => "continueBtn", :id => "step_two" do %>
              <div class="triangle-right"></div>
            <% end %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>

<script>

</script>