<div class="container">
  <div class="innerWrap">
    <h3>Launch your GenieDB Instance</h3>

    <div class="innerDiv row-fluid">
      <div class="topNav">
        <a href=""><span class="numValue selected">1</span>DB Instance Details</a>
        <a href=""><span class="numValue">2</span>Management Options</a>
        <a href=""><span class="numValue">3</span>Review</a>
      </div>

      <%= form_for(@db_instance, :validate => true) do |f| %>

        <div class="step_one new_db">
          <%= render :partial => "step_one", :locals => {:f => f} %>
        </div>

        <div class="step_two new_db" style="display: none;">
          <%= render :partial => "step_two", :locals => {:f => f} %>
        </div>

        <div class="step_three new_db" style="display: none;">
          <%= render :partial => "step_three", :locals => {:f => f} %>
        </div>

      <% end %>

      </div>
    </div>
  </div>