<div class="container">
  <div class="innerWrap">

    <div class="innerDiv row-fluid">
      <div class="detailSection row-fluid thank_you">
				<%= image_tag "thankyou.jpg" %>
      </div>
    </div>
  </div>
</div>