<div class="container">
  <div class="innerWrap">

    <div class="innerDiv row-fluid">
      <div class="detailSection row-fluid">

        <div class=" form-horizontal firstForm">
          Your GenieDB instance has been provisioned successfully.

          One of our customer service representative would get back to you shortly. In case you have any questions, please
          call us at 1-800-GENIEDB
        </div>
      </div>
    </div>
  </div>
</div>