<div class="container">
  <div class="innerWrap">

    <div class="innerDiv row-fluid">
      <div class="detailSection row-fluid">

        <div class=" form-horizontal firstForm">
          Your instance has been provisioned successfully
        </div>
      </div>
    </div>
  </div>
</div>