<div class="modal-dialog" ng-controller="BillinginfoCtrl">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Billing Info</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label class="radio-inline"> <input type="radio" id="typeRadioVisa" value="visa"> Visa </label> <label class="radio-inline">
				<input type="radio" id="typeRadioMC" value="mastercard"> Mastercard </label> <label class="radio-inline">
				<input type="radio" id="typeRadioAmex" value="amex"> American Express </label> <label class="radio-inline">
				<input type="radio" id="typeRadioDisc" value="discover"> Discover </label>

			</div>
			<div class="form-group">
				<label style="width: 20%"> Number</label> <input type="text" ng-model="cc.number" required/>
			</div>
			<div class="form-group">
				<label style="width: 20%"> Expires </label> <input type="number" ng-model="cc.expire_month" required/>
				<input type="number" ng-model="cc.expire_year" required/>
			</div>
			<div class="form-group">
				<label style="width: 20%"> CVV2</label> <input type="text" ng-model="cc.cvv2" required/>
			</div>
			<div class="form-group">
				<label style="width: 20%"> Name</label> <input type="text" ng-model="cc.first_name" required/>
				<input type="text" ng-model="cc.last_name" required/>
			</div>

			<div class="form-group">
				<label style="width: 20%"> Address</label>
				<input type="text" ng-model="cc.billing_address.line1" required/>
			</div>
			<div class="form-group">
				<label style="width: 20%"> City</label>
				<input type="text" ng-model="cc.billing_address.city" required/>
			</div>
			<div class="form-group">
				<label style="width: 20%"> State</label>
				<input type="text" ng-model="cc.billing_address.state" required/>
			</div>
			<div class="form-group">
				<label style="width: 20%"> Postal Code</label>
				<input type="text" ng-model="cc.billing_address.postal_code" required/>
			</div>
			<div class="form-group">
				<label style="width: 20%"> Country</label>
				<input type="text" ng-model="cc.billing_address.country_code" required/>
			</div>


		</div>
		<div class="modal-footer">
			<button class="btn btn-success" btn-loading="isLoading" data-loading-text="Saving..." ng-click="save()">SAVE</button>
			<button class="btn btn-primary pull-right" ng-click="cancel()">CANCEL</button>
		</div>
	</div>
</div>