<div class="modal-dialog large-modal" ng-controller="UpgradeCtrl">
	<div class="modal-content ">
		<div class="modal-header">
			<h3>GenieDB Plans</h3>
		</div>
		<div class="modal-body row">
			<div class="col-md-8 two-column-form-left">
				<p class="lead upgrade">Take advantage of what GenieDB has to offer.</p>

				<p>GenieDB's pricing is similar to Amazon RDS, we charge a small increment on top of the cloud provider per server hour.
					<strong>A typical 2 node EC2 m1.small cluster will cost approximately $.16 per server hour.</strong></p>

				<div class="highlightText">

					<div class="row">
						<div class="col-md-8">

							<p class="h4">How it works:</p>
							<ol>
								<li>Choose your cloud provider and instance types</li>
								<li>We acquire the instances for you</li>
								<li>You configure your applications</li>
								<li>You get a consolidated bill from us monthly based on your usage</li>
							</ol>
						</div>
						<div class="col-md-4">

							<img src="img/cloud.png"/>
						</div>
					</div>

					<p>
						<strong>There is no commitment, no setup fees, no hidden fees.</strong> You are free to scale up and down on any cloud provider as needed.
					</p>
				</div>
			</div>
			<div class="col-md-4 two-column-form-right highlightText">

				<p><strong>Eliminate Downtime</strong> even during cloud provider outages and catastrophies</p><br/>

				<p><strong>Reduce Latency and Lag</strong> by delivering high-speed access to your applications worldwide</p>
				<br/>

				<p><strong>Easily Scale</strong> so you never stress about your database infrastructure</p>                <br/>
				<br/>

				<p><a class="btn btn-primary" target="_blank"   href="http://www.geniedb.com/services/pricing/">SEE PRICING TABLE</a></p>
			</div>
		</div>
		<div class="modal-footer">
			<a class="btn btn-success" href="#/billinginfo">UPGRADE NOW</a>
			<a class="btn btn-primary pull-right" href="#/list">BACK TO LIST</a>
		</div>
	</div>
</div>
