<div class="modal-dialog" ng-controller="ImpersonateCtrl">
	<div class="modal-content">
		<div class="modal-header">Thank You for Impersonating a User &trade; </div>
		<div class="modal-body">
			<p>
				You are only seconds away from being someone entirely new.
				<b> Some nausea is to be expected.</b>
			</p>

			<p>Validating your fakeness...<i class='fa fa-refresh fa-spin'></i></p>

			<p>
				If you get redirected to the login screen that means you sent the wrong token. </p>
		</div>
	</div>
</div>
