<div ng-controller="ListCtrl">
	<script id="node-detail.html" type="text/ng-template">
		<div class="row">
			<div class="col-lg-1 info-popover-label">DNS</div>
			<div class="col-lg-11">{{node.dns_name}}</div>
		</div>
		<div class="row">
			<div class="col-lg-1 info-popover-label">IP</div>
			<div class="col-lg-11">{{node.ip}}</div>
		</div>
		<div class="row">
			<div class="col-lg-1 info-popover-label">Size</div>
			<div class="col-lg-11">{{node.storage}} GB</div>
		</div>
	</script>
	<div class="box summary">
		<div class="modal-header">Cluster Summary
			<button class="btn btn-primary add-cluster-btn" ng-click="addCluster()"><i class="fa fa-plus"></i> ADD CLUSTER</button>
			<button class="btn btn-primary" ng-click="refresh()" id="refresh" ng-class="{disabled: isRefreshing}">
				<i class="fa fa-refresh" ng-class="{'fa-spin': isRefreshing}"></i></button>
			<button type="submit" class="btn btn-primary pull-right disabled"><i class="fa fa-bar-chart-o"></i> CLUSTER STATS</button>
		</div>
	</div>
	<div class="panel container cluster-group">
		<div class="panel cluster-panel" ng-repeat="cluster in clusters">
			<div class="panel-heading cluster-heading">
				<span class="panel-title cluster-title">{{cluster.label}}</span>

				<div class=" pull-right">
					<button ng-if="cluster.canAddNode" class="btn add-node btn-success btn-small" ng-click="addNode(cluster)">ADD NODE</button>
					<button ng-if="cluster.canLaunch" class="btn launch-cluster btn-success btn-small" ng-disabled="cluster.isLaunching" ng-click="launchCluster(cluster)" data-loading-text="Launching...">LAUNCH</button>
					<button class="btn delete-cluster btn-danger btn-small" ng-click="deleteCluster(cluster)" btn-loading="cluster.isDeleting" data-loading-text="Deleting...">DELETE</button>
				</div>
			</div>
			<table id="nodeTable" class="table table-condensed table-nodes">
				<thead class="node-header">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Region</th>
					<th>Provider</th>
					<th>Instance Type</th>
					<th>Status</th>
					<th ng-if="cluster.hasRunning">CPU</th>
					<th ng-if="cluster.hasRunning">IOPS</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="node in cluster.nodes">
					<td ng-class="{row0: $first}" class="node-status-marker"><i class="fa fa-circle {{node.statusClass}}"></i></td>
					<td ng-class="{row0: $first}">{{node.label}}
						<a popover-placement="right" popover-template="node-detail.html" popover-title="Node Info" class="btn btn-xs info-popover"><i class="fa fa-lg fa-info-circle"></i></a>
					</td>
					<td ng-class="{row0: $first}">{{node.$region.name}}</td>
					<td ng-class="{row0: $first}">{{node.provider.name}}</td>
					<td ng-class="{row0: $first}">{{node.$flavor.name}}</td>
					<td ng-class="{row0: $first}" class="node-status {{node.statusClass}}">{{node.status}}<i class="fa fa-refresh fa-spin margin-left-10" ng-if="node.isAction"></i>
					</td>
					<td ng-if="cluster.hasRunning" ng-class="{row0: $first}" class="list-sparkline">
						<span ng-if="node.isRunning" jq-sparkline ng-model="node.cpu" opts='{"width":150}'>Loading...</span></td>
					<td ng-if="cluster.hasRunning" ng-class="{row0: $first}" class="list-sparkline">
						<span ng-if="node.isRunning" jq-sparkline ng-model="node.iops" composite="true" opts='[{"width":150,"lineColor":"#0F0"},{"width":150,"lineColor":"#F00"}]'>Loading...</span>
					</td>
					<td ng-class="{row0: $first}">
						<div class="btn-group">
							<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"> <i class="fa fa-lg fa-bars"></i></a>
							<ul class="dropdown-menu node-popup pull-right">
								<li class="disabled">
									<a tabindex="-1"><i class="fa fa-bar-chart-o"></i> &nbsp; Detailed Stats</a>
								</li>
								<li class="divider" ng-if="node.isRunning||node.isPaused"></li>
								<li ng-if="node.isRunning">
									<a tabindex="-1" ng-click="nodePause(node)"><i class="fa fa-pause "></i> &nbsp; Pause Node</a></li>
								<li ng-if="node.isPaused">
									<a tabindex="-1" ng-click="nodeResume(node)"><i class="fa fa-play"></i> &nbsp; Resume Node</a></li>
								<li class="divider"></li>
								<li class="disabled"><a tabindex="-1" href="#"><i class="fa fa-plus"></i> &nbsp; Clone Node</a></li>
								<li ng-class="{disabled: !user.isPaid || !node.canUpgrade}"><a ng-click="nodeUpgrade(node)" tabindex="-1"><i class="fa fa-bolt"></i> &nbsp; Upgrade Node</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" ng-click="nodeDelete(node)"><i class="fa fa-minus"></i> &nbsp; Delete Node</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				<tr ng-if="cluster.nodes.length < 1">
					<td colspan="8" style="line-height: 6em;">Your cluster currently has no nodes.
						<button class="btn add-node btn-success btn-small" ng-click="addNode(cluster)">ADD NODE</button>
					</td>
				</tr>
				</tbody>
			</table>
			<br/>
			<tabset>
				<tab>
					<tab-heading>
						<i class="fa fa-gear"></i> Details
					</tab-heading>

					<div class="row">
						<div class="col-lg-1 info-popover-label">DNS</div>
						<div class="col-lg-11" select-on-click>{{cluster.dns_name}}</div>
					</div>
					<div class="row">
						<div class="col-lg-1 info-popover-label">Port</div>
						<div class="col-lg-11" select-on-click>{{cluster.port}}</div>
					</div>
					<div class="row">
						<div class="col-lg-1 info-popover-label">User</div>
						<div class="col-lg-11" select-on-click> {{cluster.dbusername}}</div>
					</div>
				</tab>
				<tab disabled="!cluster.hasKeys">
					<tab-heading>
						<i class="fa fa-lock"></i> SSL Certs
					</tab-heading>
					<br/>

					<a class="btn btn-primary" download="ca-cert.pem" ng-href="{{ cluster.ca_cert_url }}"><i class="fa fa-download"></i> &nbsp; CA Cert</a>
					<a class="btn btn-primary" download="client-cert.pem" ng-href="{{ cluster.client_cert_url }}"><i class="fa fa-download"></i> &nbsp; Client Cert</a>
					<a class="btn btn-primary" download="client-key.pem" ng-href="{{ cluster.client_key_url }}"><i class="fa fa-download"></i> &nbsp; Client Key</a>

					<br/> <br/>

					<p class="lead">
						For information on configuring your connection please see
						<a href="http://dev.mysql.com/doc/refman/5.6/en/using-ssl-connections.html">this</a> documentation on the official MySQL site.
					</p>

				</tab>
				<tab disabled="true">
					<tab-heading>
						<i class="fa fa-share-square"></i> Backups
					</tab-heading>

					<h3>Schedule</h3>

					<div class="btn-group">
						<button type="button" class="btn btn-xs disabled">Hourly</button>
						<button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="">Hourly</a></li>
							<li><a href="">Daily</a></li>
							<li><a href="">Weekly</a></li>
							<li class="divider"></li>
							<li><a href="">Disable Backups</a></li>
						</ul>
					</div>
					<h3>Available Downloads</h3>

					<table id="backupTable" class=" table-hover table-condensed table-nodes">
						<thead class="node-header">
						<td>Node</td>
						<td>Time</td>
						<td>Size</td>
						</thead>
						<tbody ng-repeat="node in cluster.nodes">
						<tr>
							<td class="lead">{{ node.label }}</td>
						</tr>
						<tr ng-repeat="backup in node.backups">
							<td></td>
							<td>{{ backup.time }}</td>
							<td>{{ backup.size }}</td>
							<td><a class="btn btn-primary btn-xs" ng-href="{{ backup.url }}"><i class="fa fa-download"></i></a></td>
						</tr>
						</tbody>
					</table>

				</tab>
				<tab disabled="!cluster.isRunning">
					<tab-heading>
						<i class="fa fa-medkit"></i> Databases
					</tab-heading>
					<p class="lead"> Current {{cluster.dbnamesLabel}}</p>

					<div class="btn-group">
						<button type="button" class="btn btn-primary disabled pad5" ng-repeat="database in cluster.dbnames">{{ database }}</button>
					</div>
					<br/> <input class="form-control-min" ng-model="db.name" size="40" type="text" focus-me/>
					<button class="btn btn-success btn-small" btn-loading="isLoading" data-loading-text="Adding..." ng-disabled="!db.name" ng-click="addDatabase(cluster)">ADD</button>

				</tab>
			</tabset>
		</div>
		<p ng-if="clusters.$resolved && clusters.length < 1" class="lead clusters-empty">You don't have any clusters yet. Use our
			<button class="btn btn-success" rel="tooltip" title="Creates 2 node cluster for easy testing of GenieDB on Amazon EC2" ng-click="quickStart()">QUICK START</button>
			which builds a cluster with two small Amazon EC2 or Rackspace nodes.
		</p>
		<p ng-if="!clusters.$resolved" class="lead clusters-empty">Loading... </p>
	</div>
</div>
