html{
    background: url(../img/MapBkg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

.alert-danger{
    margin-top: 10px;
    color: #fff;
    background-color: #ce7a7b;
    border-color: #ce7a7b;
}

body{
    background: transparent;
    font-family: 'Lato', sans-serif;
    padding-top: 100px;
}

#main{
    padding-top: 30px;
    padding-bottom: 100px;
}

#main > h3{
    color: #fff;
}

#dbaasHeader{
    padding-top: 50px;
    padding-left: 10%;
}

#gdbHeader{
    padding-top: 25px;
}

.modal-header{
    background-color: #39559f;
    font-size: 15pt;
    color: #99b1f3;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px 2px 0px 0px;
}

.modal-footer{
    background-color: #c1c1c1;
    padding: 15px;
    margin: 0px;
    border-radius: 0px 0px 2px 2px;
    border: 0;
    text-align: left;
    vertical-align: middle;
    line-height: 2em;
}

.btn{
    border-radius: 2px;
}

.btn-success{
    background-color: #26bd38;
}

.btn-primary{
    background-color: #5473c4;
    border: 0;
}

.min-controls{
    margin-left: 20px;
}

.login{
    margin-top: 50px;
    width: 350px;
}

.summary{
    margin-top: 75px;
}

.add-cluster-btn{
    margin-left: 60px;
}

.node-popup{
    background-color: #707070;
    padding: 15px 0px;
}

.div-logout{
    position: absolute;
    top: 50px;
    left: 40%;
    overflow: visible;
    color: #6f6f6f;
    z-index: 1030;
}

.input-login{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    background-color: #ebebeb;
    border-radius: 2px;
    border-width: 0;
    padding-left: 15px;
}

.form-login{
    margin: 0px;
}

.modal{
    display: block;
    height: 0;
    overflow: visible;
}

.modal-content{
    border: 0px;
    background: #dadada;
}

.cluster-box{
    background: #ebebeb;
}

.cluster-group{
    background: #dadada;
    border-radius: 0px 0px 4px 4px;
}

.cluster-panel{
    margin-top: 15px;
    padding: 15px;
}

.cluster-title{
    color: #8b8b8b;
    font-size: 24px;
}

.cluster-heading{
    border-bottom: 0;
}

#nodeTable > tbody > tr .row0{
    border-top: 0;
}

.node-header{
    color: #afafaf;
}

#nodeTable > .node-header > tr > th{
    border-bottom: 0;
}

.node-region{
    display: block;
}

.node-dns{
    font-size: small;
    display: block;
}

.node-status-marker{
    text-align: center;
    width: 24px;
}

.node-status{
    color: #afafaf;
    font-style: italic;
}

.node-status-running{
    color: green;
}

.node-status-error{
    color: red;
}

.table-nodes{
    margin-bottom: 0;
}

a.dropdown-toggle{
    color: #333;
}

a.dropdown-toggle:hover{
    text-decoration: none;
}

#jqstooltip{
    box-sizing: content-box;
}

.form-invalid{
    border: 1px #f00;
}

.node-popup > li > a{
    color: #ebebeb;
    padding: 0px 30px;
}

.clusters-empty{
    padding: 15px;
}

.version-tag{
    text-align: right;
    font-size: 8pt;
    color: #aaa;
}

.list-sparkline{
    width: 180px;
}

.help-block{
    font-style: italic;
    color: #a4a4a4;
    font-size: 9pt;
}

label{
    color: #707070;
    font-weight: normal;
}

input.form-control{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    background-color: #ebebeb;
    border-radius: 2px;
    border-width: 0;
    padding-left: 15px;
}

.cluster-dialog{
    width: 350px
}

.modal-header .modal-close-button{
    margin-top: 1px;
}

.two-column-form-left{
    border-right: 1px solid #c1c1c1;
    padding-right: 30px;
    padding-left: 30px;
}

.two-column-form-right{
    padding-left: 30px;
    padding-right: 30px;
}