<div class="container">

	<div class="modal-dialog login">
		<div class="modal-content login">
			<div class="modal-header">Welcome to Genie DBaaS</div>
			<div class="modal-body">
				<div ng-hide="email">
					<div ng-bind-html="statusText"></div>
				</div>
				<div ng-hide="!email">
					<p>
						Thanks for registering
						<b>{{ email }}</b>. Set your account password to continue setting up your free distributed database. </p>
					<p>
						<input type="password" id="pw1" class="input-login" ng-model="password" placeholder="Password" required ng-class="{'form-invalid': showValidationMessages && !activateForm.passwd.$valid}"/>
					</p>
					<p>
						<input type="password" class="input-login" ng-model="verifyPassword" placeholder="Verify Password" pw-check="pw1" required ng-class="{'form-invalid': showValidationMessages && !activateForm.passwd.$valid}"/>
						<span ng-show="verifyPassword.$error.pwmatch">Passwords don't match.</span>
					</p>
				</div>
			</div>
			<div class="modal-footer" ng-hide="!email">
				<button class="btn btn-success" ng-click="activate()">SAVE</button>
			</div>
		</div>
	</div>
</div>
