
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Add Database</h3>
		</div>
		<form ng-submit="submit()">
			<div class="modal-body">
				<label>Database Name</label>
				<input type="text" focus-me ng-model="db.name"/>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" btn-loading="isLoading" data-loading-text="Adding..." ng-click="save()">SAVE</button>
				<button class="btn btn-primary pull-right" ng-click="cancel()">CANCEL</button>
			</div>
		</form>
	</div>
</div>