<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Cluster Details</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label> DNS </label>
				<input ng-model="cluster.dns_name" />
			</div>
			<div class="form-group">
				<label> Port</label>
				<input ng-model="cluster.port" />
			</div>
			<div class="form-group">
				<label> Username </label>
				<input ng-model="cluster.dbusername" />
			</div>
			<div class="form-group">
				<label> Password </label>
				<input ng-model="cluster.dbpassword" />
			</div>
			<div class="form-group">
				<label> Database </label>
				<input ng-model="cluster.dbname" />
			</div>
		</div>
	</div>
</div>