<div class="modal-dialog cluster-dialog" ui-keydown="{esc: 'cancel()'}">
	<div class="modal-content">
		<div class="modal-header">
			Create Cluster
			<button type="button" class="modal-close-button close" ng-click="cancel()"><i class="icon-remove"></i></button>

		</div>
		<div class="modal-body" style="max-height:80%">
			<div class="form">
				<div class="form-group">
					<label for="identifier"> Label </label>
					<input class="form-control" id="identifier" ng-model="cluster.label" size="30" type="text" focus-me/>

					<p class="help-block">e.g. Production Cluster or myApp Cluster</p>
				</div>

				<div class="form-group">
					<label class="control-label" for="master_username"> Master Username </label>

					<input class="form-control" id="master_username" ng-model="cluster.dbusername" size="30" type="text" />
					<p class="help-block">e.g. awsuser, appuser</p>

				</div>

				<div class="form-group">
					<label class="control-label" for="master_password"> Master Password </label>

					<input class="form-control" id="master_password" ng-model="cluster.dbpassword" size="30" type="password" />
				</div>

				<div class="form-group">
					<label class="control-label" for="master_password"> Master Password Confirmation </label>

					<input class="form-control" id="master_password_confirm" ng-model="cluster.dbpassword_confirm" size="30" type="password"/>
				</div>

				<div class="form-group">
					<label class="control-label" for="db_name"> Database Name </label>

					<input class="form-control" id="db_name" ng-model="cluster.dbname" size="30" type="text" />
					<p class="help-block">If left blank then no initial MySQL database will be created on the cluster</p>
				</div>

				<div class="form-group">
					<label class="control-label" for="db_port">Database Port</label>

					<input class="form-control" id="db_port" ng-model="cluster.port" size="30" type="text" value="3306" />
					<p class="help-block">Using a non-standard port (3306) is recommended</p>

				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" btn-loading="isLoading" data-loading-text="Creating..." ng-click="save()">CREATE</button>
			<button class="btn btn-primary pull-right" ng-click="cancel()">CANCEL</button>
		</div>
	</div>
</div>