<script id="cluster-detail.html" type="text/ng-template">
	<div class="row">
	  <div class="col-lg-1 info-popover-label">DNS</div>
	  <div class="col-lg-11">{{cluster.dns_name}}</div>
	</div>
	<div class="row">
	  <div class="col-lg-1 info-popover-label">Port</div>
	  <div class="col-lg-11">{{cluster.port}}</div>
	</div>
	<div class="row">
	  <div class="col-lg-1 info-popover-label">User</div>
	  <div class="col-lg-11">{{cluster.dbusername}}</div>
	</div>
	<div class="row">
	  <div class="col-lg-1 info-popover-label">Pass</div>
	  <div class="col-lg-11">{{cluster.dbpassword}}</div>
	</div>
	<div class="row">
	  <div class="col-lg-1 info-popover-label">DB</div>
	  <div class="col-lg-11">{{cluster.dbname}}</div>
	</div>
</script>
<script id="node-detail.html" type="text/ng-template">
	<div class="row">
	  <div class="col-lg-1 info-popover-label">DNS</div>
	  <div class="col-lg-11">{{node.dns_name}}</div>
	</div>
	<div class="row">
	  <div class="col-lg-1 info-popover-label">IP</div>
	  <div class="col-lg-11">{{node.ip}}</div>
	</div>
</script>

<div class="box summary">
	<div class="div-logout">
		Welcome {{ user.email }} &nbsp;&nbsp;&nbsp;
		<button class="btn btn-primary btn-sm" ng-click="logout()">LOGOUT</button>
	</div>
	<div class="modal-header">Cluster Summary
		<button class="btn btn-primary add-cluster-btn" ng-click="addCluster()"><i class="icon-plus"></i> ADD CLUSTER</button>
		<button class="btn btn-primary" ng-click="refresh()" id="refresh" ng-class="{disabled: isRefreshing}">
			<i class="icon-refresh" ng-class="{'icon-spin': isRefreshing}"></i></button>
		<button type="submit" class="btn btn-primary pull-right disabled"><i class="icon-bar-chart"></i> CLUSTER STATS</button>
	</div>
</div>
<div class="panel container cluster-group">
	<div class="panel cluster-panel" ng-repeat="cluster in clusters">
		<div class="panel-heading cluster-heading">
			<span class="panel-title cluster-title">{{cluster.label}}</span>
			<a popover-placement="bottom" popover-template="cluster-detail.html" class="btn btn-xs info-popover"><i class="icon-info-sign"></i></a>
			<div class=" pull-right">
				<button ng-if="cluster.canLaunch" class="btn add-node btn-success btn-small" ng-click="addNode(cluster)">ADD NODE</button>
				<button ng-if="cluster.canLaunch" class="btn launch-cluster btn-success btn-small" ng-click="launchCluster(cluster)" data-loading-text="Launching...">LAUNCH</button>
				<button class="btn delete-cluster btn-danger btn-small" ng-click="deleteCluster(cluster)" data-loading-text="Deleting...">DELETE</button>
			</div>
		</div>
		<table id="nodeTable" class="table table-hover table-condensed table-nodes">
			<thead class="node-header">
			<tr>
				<th></th>
				<th>Name</th>
				<th>Region</th>
				<th>Provider</th>
				<th>Instance Type</th>
				<th>Status</th>
				<th ng-if="cluster.hasRunning">CPU</th>
				<th ng-if="cluster.hasRunning">IOPS</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="node in cluster.nodes">
				<td ng-class="{row0: $first}" class="node-status-marker"><i class="icon-circle {{node.statusClass}}"></i></td>
				<td ng-class="{row0: $first}">{{node.label}}
					<a popover-placement="bottom" popover-template="node-detail.html" class="btn btn-xs info-popover"><i class="icon-info-sign"></i></a>
				</td>
				<td ng-class="{row0: $first}">{{node.$region.name}}</td>
				<td ng-class="{row0: $first}">{{node.provider.name}}</td>
				<td ng-class="{row0: $first}">{{node.$flavor.name}}</td>
				<td ng-class="{row0: $first}" class="node-status {{node.statusClass}}">{{node.status}}</td>
				<td ng-if="cluster.hasRunning" ng-class="{row0: $first}" class="list-sparkline">
					<span ng-if="node.isRunning" jq-sparkline ng-model="node.cpu" opts='{"width":150}'>Loading...</span></td>
				<td ng-if="cluster.hasRunning" ng-class="{row0: $first}" class="list-sparkline">
					<span ng-if="node.isRunning" jq-sparkline ng-model="node.iops" composite="true" opts='[{"width":150,"lineColor":"#0F0"},{"width":150,"lineColor":"#F00"}]'>Loading...</span>
				</td>
				<td ng-class="{row0: $first}">
					<div class="btn-group">
						<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"> <i class="icon-reorder"></i> </a>
						<ul class="dropdown-menu node-popup pull-right">
							<li class="disabled">
								<a tabindex="-1"><i class="icon-bar-chart"></i> &nbsp; Detailed Stats</a>
							</li>
							<li class="divider"></li>
							<li ng-if="node.status != 1">
								<a tabindex="-1" ng-click="nodePause(node)"><i class="icon-pause "></i> &nbsp; Pause Node</a></li>
							<li ng-if="node.status == 1">
								<a tabindex="-1" ng-click="nodeResume(node)"><i class="icon-play"></i> &nbsp; Resume Node</a></li>
							<li class="divider"></li>
							<li class="disabled"><a tabindex="-1" href="#"><i class="icon-plus"></i> &nbsp; Clone Node</a></li>
							<li class="disabled"><a tabindex="-1"><i class="icon-chevron-up"></i> &nbsp; Upgrade Node</a></li>
							<li class="divider"></li>
							<li><a tabindex="-1" ng-click="deleteNode(node)"><i class="icon-remove"></i> &nbsp; Delete Node</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<tr ng-if="cluster.nodes.length < 1">
				<td colspan="8" style="line-height: 6em;">Your cluster currently has no nodes.
					<button class="btn add-node btn-success btn-small" ng-click="addNode({{cluster}})">ADD NODE</button>
				</td>
			</tr>
			</tbody>
		</table>

	</div>
	<p ng-if="clusters.$resolved && clusters.length < 1" class="lead clusters-empty">You don't have any clusters yet. Use our
		<button class="btn btn-success" rel="tooltip" title="Creates 2 node cluster for easy testing of GenieDB on Amazon EC2" ng-click="quickStart()">QUICK START</button>
		which builds a cluster with two small Amazon EC2 or Rackspace nodes.
	</p>
	<p ng-if="!clusters.$resolved" class="lead clusters-empty">Loading... </p>
</div>