
/* ================== begin of all imported and override css ================*/
@import "bootstrap_and_overrides.css.less";
@import "jquery-ui.css";
/* ================== end of all imported css ================*/

/* ================== begin of all custom fonts ================*/
@font-face {
    font-family: 'oswaldbook';
    src: url('../fonts/oswald-webfont.eot');
    src: url('../fonts/oswald-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-webfont.woff') format('woff'),
    url('../fonts/oswald-webfont.ttf') format('truetype'),
    url('../fonts/oswald-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ================== end of all custom fonts ================*/

/* ================== begin of all variables ================*/
@darkgrey:#494949;
@intcolor:#6d6966;
@navcolor:#660000;
@kirnlorange:#f75105;
@image: "../img";
@white: #fff;
@gray:#666666;
@lightgray:#999999;
@black:#000000;
@bdrclr:#cccccc;
/* ================== end of all variables ================*/

*{  border: none; margin:0; padding:0;}

/*=================== begin of Step 1 related css ================*/

body{background:url(background-bg.png) repeat-x left top;}
.innerWrap{ width:935px; margin:150px auto 100px;}
.innerWrap h3{ color:#ffffff; font-family:helvetica; }
.innerWrap .innerDiv{ border:8px solid #1d3160; min-height: 785px; background:#ffffff;}
.innerWrap .innerDiv .topNav{display: inline-block;margin: 18px 0;width: 100%;}
.topNav a{ display: inline-block;float: left;padding-left: 2%; line-height: 25px;  text-decoration: none; width: 23%; font-size:14px; color:#9398A4;font-family:helvetica; }
.topNav .selected{ color:#1d3160 !important;}
.topNav .selected span{ background:#1d3160 !important;}
.topNav .complete { color:#27ae60;}
.topNav .complete span{background:url(complete.png) no-repeat center center #27ae60; height:10px; width:10px; display:inline-block;   float: left; }
.topNav .numValue{ background:#9398a4; padding:8px; display:inline-block; color:#ffffff; height: 8px; line-height: 7px; width: 10px; border-radius: 50% 50% 50% 50%;margin-right: 8px;  font-family: times roman;font-size: 17px;   float: left;}
.detailSection{  display: inline-block; margin-top: 18px;}
.detailSection span{ font-family:helvetica; font-size:16px; border-bottom:1px solid #eae7e7; display:inline-block;margin: 0 0.5%;    width: 97%;   padding: 0 0 1.5% 2%;}
.detailSection strong{font-family:helvetica; font-size:16px; }
.detailSection .firstForm{ margin-top:34px; margin-left:2.5%;}
.firstForm p.forOptional,.secForm p.forOptional{  display: inline-block;margin: 0;position: relative;}
.firstForm p.forOptional small,.secForm p.forOptional small{ bottom: -14px;font-size: 12px;position: absolute;right: 0;  font-style: italic; color:#999999;}
.detailSection .question{ background:#9398a4; padding:5px; display:inline-block; color:#ffffff; height: 8px; line-height: 7px; border-radius: 50% 50% 50% 50%;margin-left: 8px;  font-family: times roman;font-size: 15px; font-weight:normal;}
.firstForm input[type="text"],.secForm input[type="text"],.secForm input[type="password"]{ border: 3px solid #D6D6D6; width:278px;  height: 25px; margin-right: 5px; float:left;}
.firstForm select,.secForm select{ border: 3px solid #D6D6D6;  height: 38px; width: 295px; border-radius: 2px 2px 2px 2px;}
.firstForm select.smallSelect{width:95px; }
.firstForm .checkbox {font-size:16px; color:#242425; font-family:helvetica;}
.detailSection .control-group{ font-size:16px;font-family:helvetica;  height: 40px; margin-bottom: 10px;}
.detailSection .secForm{ margin-top:8px; margin-left:2.5%;}
.detailSection .secForm label{font-size:16px; width: 305px; text-align:left;}
.secForm .checkbox input[type="checkbox"]{margin-left:0;}
.detailSection .firstForm label{font-size:16px; width: 305px; text-align:left;}
.firstForm .checkbox.inline { width: 85px !important;}
.firstForm .radio.inline { width: auto !important;}
.secForm .controls .input-prepend.input-append .add-on:first-child{border: 3px solid #D6D6D6;height: 25px; border-right:none;line-height: 24px;float:left;}
.secForm .input-prepend.input-append small{color: #c2582a; line-height: 18px; display: block;float: left;font-size: 12px;margin-left: 2px; white-space: normal; width: 425px;word-wrap: break-word;}
.secForm .controls small{color: #C2582A;display: inline-block; float: left; font-size: 12px; width: 305px;  line-height: 18px;}
.secForm .input-prepend input[type="text"]{ border-left: medium none;    display: inline-block;    height: 39px;    width: 60px;  border-radius:0 4px 4px 0; float:left;}
.btnCls{padding:25px 0;}
.continueBtn{   background: #19ac59; border-radius:17px;color: #FFFFFF; font-size: 19px; padding:7px 20px;margin-top: 0px; border: medium none;}
.backBtn{background:#c8c4c4; margin-right:24px;margin-left: 328px;}
.sliderNum{background: #CCCCCC;border-radius: 10px 10px 10px 10px;display: inline-block;height: 13px;line-height: 4px;width: 415px; margin-top: 12px;}
.flatSlider{
  .ui-state-default{
    background:#16A085;
    border: medium none;
    border-radius: 50%;
    top: -4px;
  }
  .ui-widget-header{
    background:#1ABC9C;
  }
}

/*=================== end of Step 1 related css ================*/

.message{
  font-size: 8px !important;
  color: red;
  float: right;
}

#cpu, #ram{
  #slider{
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 60%;
    border-radius: 10px 10px 10px 10px;
    background:#EBEDEF;
    border: 1px solid #EBEDEF;
  }
}

#db_instance_ram_amount, #db_instance_cpu_count{
  display: none;
}