<div class="container modal-dialog small-modal" ng-controller="DrawingCtrl">
	<div class="modal-content">
		<div class="modal-header">Thanks for signing up!</div>
		<div class="modal-body">
			<div>
				<p>
					You're now entered in our iPad Air 64GB drawing! Improve your chances at winning by tweeting about #GenieDB and by following us on twitter @GenieDB! </p>

				<p>

					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://geniedb.com" data-text="Just Signed up for a" data-via="geniedb" data-size="large" data-count="none" data-dnt="true">Tweet</a>
					<script>!function (d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = p + '://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, 'script', 'twitter-wjs');</script>
				</p>
				<p>


					<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @twitter</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



					<!--<a href="https://twitter.com/geniedb" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @GenieDB</a>-->
				</p>
			</div>
		</div>
		<div class="modal-footer" ng-hide="!email">
			<button class="btn btn-success" ng-click="activate()">DONE</button>
		</div>
	</div>

</div>
