<!doctype html><!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GenieDB DBaaS Console</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!-- CSS from Bower components  -->
	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="bower_components/toastr/toastr.css" rel="stylesheet">
	<link href="bower_components/select2/select2.css" rel="stylesheet">


	<!-- App LESS -->
	<link href="css/app.less" type="text/css" rel="stylesheet/less">

	<link rel="shortcut icon" href="favicon.ico">
</head>
<body ng-app="geniedb">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
	<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div ng-controller="MainCtrl" class="container">
	<div class="navbar navbar-fixed-top navbar-default" role="navigation" ng-controller="NavigationCtrl">
		<div class="container">
			<div class="navbar-header">
				<a id="dbaasHeader" class="navbar-brand" href="#"> <img src="img/DBaaSConsole_Logo.png"/> </a>
			</div>
			<div id="logout" class="navbar-header" ng-if="user.token">
				Welcome {{ user.email }}&nbsp;
				<i class="icon-user" ng-class="{'paid-user': user.isPaid}"></i> &nbsp;&nbsp;
				<button class="btn btn-primary btn-sm" ng-click="logout()">LOGOUT</button>
				<button class="btn btn-success btn-sm" ng-if="!user.isPaid" ng-click="upgrade()" analytics-on="click" analytics-event="Upgrade">UPGRADE</button>
			</div>
			<a id="gdbHeader" class="navbar-right" href="http://www.geniedb.com/"><img src="img/GenieDB_Logo.png"/></a>
		</div>
	</div>

	<div ng-view></div>
	<div class="version-tag" ng-right-click="showInfo(event)">GenieDB DBaaS v<span app-version></span></div>
</div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Livereload script for development only (stripped during dist build) -->
<script src="http://localhost:35729/livereload.js" data-build="exclude"></script>

<!-- JS from Bower components -->
<script src="bower_components/less.js/dist/less-1.4.0.js" data-build="exclude"></script>


<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-resource-unstable/angular-resource.js"></script>
<script src="bower_components/angular-ui-select2/src/select2.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angulartics/src/angulartics-google-analytics.js"></script>
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
<script src="bower_components/jquery-jsonp/src/jquery.jsonp.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/select2/select2.js"></script>
<script src="bower_components/sparkline/dist/jquery.sparkline.js"></script>
<script src="bower_components/toastr/toastr.js"></script>

<!--TODO: Move to distributed version once the PR is published  https://github.com/angular-ui/bootstrap/pull/1171  -->
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
<script src="bower_components/angular-ui-utils/modules/keypress/keypress.js"></script>

<script src="js/ui-bootstrap-tpls.js"></script>


<!-- Main App JS -->
<script src="js/setup.js"></script>
<script src="js/config.js"></script>

<!-- Service JS -->
<script src="service/growl.js"></script>
  <script src="service/user.js"></script>
  <script src="service/apiModel.js"></script>
  <script src="service/userVoice.js"></script>
  <script src="service/messageBox.js"></script>
  <script src="service/tooltipX.js"></script>
  <!-- Add New Service JS Above -->

<!-- Directive JS -->
<script src="directive/pwCheck.js"></script>
  <script src="directive/btnLoading.js"></script>
  <script src="directive/appVersion.js"></script>
  <script src="directive/jqSparkline.js"></script>
  <script src="directive/focusMe.js"></script>
  <script src="directive/popoverTemplate.js"></script>
  <script src="directive/ngRightClick.js"></script>
  <!-- Add New Directive JS Above -->

<!-- Filter JS -->
<!-- Add New Filter JS Above -->

<!-- Partial JS -->
<script src="partial/activate/activate.js"></script>
  <script src="partial/forgot/forgot.js"></script>
  <script src="partial/list/list.js"></script>
  <script src="partial/try/try.js"></script>
  <script src="partial/thanks/thanks.js"></script>
  <script src="partial/quickstart/quickstart.js"></script>
  <script src="partial/cluster/cluster.js"></script>
  <script src="partial/node/node.js"></script>
  <script src="partial/monitor/monitor.js"></script>
  <script src="partial/logout/logout.js"></script>
  <script src="partial/impersonate/impersonate.js"></script>
  <script src="partial/main/main.js"></script>
  <script src="partial/navigation/navigation.js"></script>
  <script src="partial/welcome/welcome.js"></script>
  <!-- Add New Partial JS Above -->

</body>
</html>
