<!doctype html><!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GenieDB DBaaS Console</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!-- CSS from Bower components  -->
	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="bower_components/toastr/toastr.css" rel="stylesheet">
	<link href="bower_components/select2/select2.css" rel="stylesheet">


	<!-- App LESS -->
	<link href="css/app.less" type="text/css" rel="stylesheet/less">

	<link rel="shortcut icon" href="favicon.ico">

	<style type="text/css" media=screen>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		  display: none !important;
		}
	</style>
</head>
<body ng-app="geniedb">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
	<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div ng-controller="MainCtrl" class="container">
	<div class="navbar navbar-fixed-top navbar-default" role="navigation" ng-controller="NavigationCtrl">
		<div class="container">
			<div class="navbar-header">
				<a id="dbaasHeader" class="navbar-brand" href="#"> <img src="img/DBaaSConsole_Logo.png"/> </a>
			</div>
			<div id="logout" ng-cloak class="ng-cloak navbar-header" ng-if="user.token">
				<span class="environment-tag" app-environment></span>
				Welcome {{ user.email }}&nbsp;
				<i class="icon-user" ng-class="{'paid-user': user.isPaid}"></i> &nbsp;&nbsp;
				<button class="btn btn-primary btn-sm" ng-click="logout()">LOGOUT</button>
				<button class="btn btn-success btn-sm" ng-if="!user.isPaid" ng-click="upgrade()" analytics-on="click" analytics-event="Upgrade">UPGRADE</button>
			</div>
			<a id="gdbHeader" class="navbar-right" href="http://www.geniedb.com/"><img src="img/GenieDB_Logo.png"/></a>
		</div>
	</div>

	<div ng-view></div>
	<div ng-cloak class="ng-cloak version-tag" ng-right-click="showInfo(event)">GenieDB DBaaS v<span app-version></span></div>
</div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Livereload script for development only (stripped during dist build) -->
<script src="http://localhost:35729/livereload.js" data-build="exclude"></script>

<!-- JS from Bower components -->
<script src="bower_components/less.js/dist/less-1.4.0.js" data-build="exclude"></script>


<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-resource-unstable/angular-resource.js"></script>
<script src="bower_components/angular-ui-select2/src/select2.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angulartics/src/angulartics-google-analytics.js"></script>
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
<script src="bower_components/jquery-jsonp/src/jquery.jsonp.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/select2/select2.js"></script>
<script src="bower_components/sparkline/dist/jquery.sparkline.js"></script>
<script src="bower_components/toastr/toastr.js"></script>

<!--TODO: Move to distributed version once the PR is published  https://github.com/angular-ui/bootstrap/pull/1171  -->
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
<script src="bower_components/angular-ui-utils/modules/keypress/keypress.js"></script>

<script src="js/ui-bootstrap-tpls.js"></script>


<!-- Main App JS -->
<script src="js/setup.js"></script>
<script src="js/config.js"></script>

<!-- Service JS -->
<script src="service/growl.js"></script>
<script src="service/user.js"></script>
<script src="service/apiModel.js"></script>
<script src="service/userVoice.js"></script>
<script src="service/messageBox.js"></script>
<script src="service/tooltipX.js"></script>
<!-- Add New Service JS Above -->

<!-- Directive JS -->
<script src="directive/pwCheck.js"></script>
<script src="directive/btnLoading.js"></script>
<script src="directive/appVersion.js"></script>
<script src="directive/appEnvironment.js"></script>
<script src="directive/jqSparkline.js"></script>
<script src="directive/focusMe.js"></script>
<script src="directive/popoverTemplate.js"></script>
<script src="directive/ngRightClick.js"></script>
<!-- Add New Directive JS Above -->

<!-- Filter JS -->
<!-- Add New Filter JS Above -->

<!-- Partial JS -->
<script src="partial/activate/activate.js"></script>
<script src="partial/forgot/forgot.js"></script>
<script src="partial/list/list.js"></script>
<script src="partial/try/try.js"></script>
<script src="partial/thanks/thanks.js"></script>
<script src="partial/quickstart/quickstart.js"></script>
<script src="partial/cluster/cluster.js"></script>
<script src="partial/node/node.js"></script>
<script src="partial/monitor/monitor.js"></script>
<script src="partial/logout/logout.js"></script>
<script src="partial/impersonate/impersonate.js"></script>
<script src="partial/main/main.js"></script>
<script src="partial/navigation/navigation.js"></script>
<script src="partial/welcome/welcome.js"></script>
<!-- Add New Partial JS Above -->


<script type="text/javascript" data-remove="exclude" data-build="exclude">
//        Google Analytics
        (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-22758127-3', 'geniedb.com');
        ga('send', 'pageview');

//        User Voice
        UserVoice = window.UserVoice || [];
        (function () {
                var uv = document.createElement('script');
                uv.type = 'text/javascript';
                uv.async = true;
                uv.src = '//widget.uservoice.com/AHFEWgqPbFD1HM8jV7rg.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(uv, s)
        })();

        UserVoice.push(['set', {
                accent_color: '#26bd38',
                trigger_color: 'white',
                trigger_background_color: '#5473c4'
        }]);

        UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

        UserVoice.push(['autoprompt', {}]);

//  SnapEngage
        (function () {
                var se = document.createElement('script');
                se.type = 'text/javascript';
                se.async = true;
                se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/c551aca7-c41d-4143-ad88-fada5ec761d4.js';
                var done = false;
                se.onload = se.onreadystatechange = function () {
                        if (!done && (!this.readyState || this.readyState === 'loaded' || this.readyState === 'complete')) {
                                done = true;
                                SnapEngage.setUserEmail(window.userEmail);
                                SnapEngage.setCallback('Open', function (status) {
                                        SnapEngage.setUserEmail(window.userEmail);
                                });

                                var tid;
                                function checkChatStatus() {
                                        SnapEngage.getAgentStatusAsync(function (online) {
                                                if (online) {
                                                        SnapEngage.showButton();
                                                }
                                                else {
                                                        SnapEngage.hideButton();
                                                }
                                        });
                                        // Recursive call.
                                        clearTimeout(tid);
                                        tid = setTimeout(checkChatStatus, 1 * 60 * 1000);
                                }
                                checkChatStatus();

                        }
                };
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(se, s);
        })();
</script>
<!-- begin bugsnag code -->
<!--<script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-1.0.9.min.js" data-releaseStage="development" data-apikey="d32f5b8a58dc32f80a606c354b350d7d"></script>-->
<!-- begin bugsnag code -->

</body>
</html>
