django
django-celery
boto
python-novaclient
south
djangorestframework>=2.3.6
django-cors-headers
hg+https://bitbucket.org/bkroeze/django-livesettings
django-keyedcache
pyzabbix
MySQL-python
django-registration
python-dateutil
