django
django-celery
boto
python-novaclient
south
djangorestframework>=2.3.6
django-cors-headers
django-keyedcache
pyzabbix
MySQL-python
django-registration
python-dateutil
suds
pyopenssl
pycrypto
google-api-python-client
git+https://github.com/treyhunner/django-simple-history
mock
