django
django-celery<3.1,>=3.0.23
boto
python-novaclient
south
djangorestframework>=2.3.6
django-cors-headers
django-keyedcache
pyzabbix
django-registration
python-dateutil
suds
pyopenssl
pycrypto
google-api-python-client
git+https://github.com/treyhunner/django-simple-history#egg=django-simple-history
mock
salt==0.17.1
git+https://github.com/profitbricks-devel/ProfitBricks-CLI-API#egg=pbapi
paypalrestsdk