<div class="modal-dialog small-modal" ng-controller="WelcomeCtrl">
	<div class="modal-content">
		<form name="loginForm" novalidate ng-submit="onLogin()">
			<div class="modal-header">Account Login</div>
			<div class="modal-body">
				<p>
					<input class="form-control" type="email" name="email" required ng-model="form.email" placeholder="Email" ng-class="{'form-invalid': showValidationMessages && loginForm.email.$invalid}" ng-focus>
				</p>

				<p>
					<input class="form-control" type="password" name="password" required ng-model="form.password" placeholder="Password" ng-class="{'form-invalid': showValidationMessages && loginForm.passwd.$invalid}" ng-focus>
				</p>

				<div>
					<button ng-disabled="loginForm.email.$invalid || loginForm.email.$error.required || loginForm.password.$error.required" class="btn btn-success">LOGIN</button>
					<button type="button" class="btn btn-link" ng-click="onForgot()">Forgot Password?</button>
				</div>
                <div>
                    <div class="alert alert-danger alert-small" ng-show="loginForm.email.$error.required && !loginForm.email.$focused">Email cannot be empty.<span style="margin-top: -7px;" class="glyphicon glyphicon-exclamation-sign pull-right"></span></div>
                    <div class="alert alert-danger alert-small" ng-show="loginForm.password.$error.required && !loginForm.password.$focused">Password cannot be empty.<span style="margin-top: -7px;" class="glyphicon glyphicon-exclamation-sign pull-right"></span></div>
                    <div class="alert alert-danger alert-small" ng-show="loginForm.email.$dirty && loginForm.email.$invalid && !loginForm.email.$focused && !loginForm.email.$error.required">This is not a valid email.<span style="margin-top: -7px;" class="glyphicon glyphicon-exclamation-sign pull-right"></span></div>
                    <div ng-repeat="error in form.errors" class="alert alert-danger alert-small">{{error}}<span style="margin-top: -7px;" class="glyphicon glyphicon-exclamation-sign pull-right"></span></div>
                </div>
				<br/>
			</div>
        </form>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="goRegister()">CREATE ACCOUNT</button>
			</div>

	</div>
</div>